---
import { menuLinks } from "@/site-config";
import styles from './Header.module.css';

const url = new URL(Astro.request.url);
---

<header class={styles.header}>
  <div class={styles.div}>
    <a class={styles.a} href="/" aria-current={url.pathname === "/" ? "page" : false}>
      <span>miyamo.me</span>
    </a>
    <nav class={styles.nav} id="navigation-menu" aria-label="Main menu">
      {
        menuLinks.map((link) => (
          <a
            aria-current={url.pathname === link.path ? "page" : false}
            data-astro-prefetch
            href={link.path}
          >
            {link.title}
          </a>
        ))
      }
    </nav>
  </div>
</header>